mixin promo
  section.promo
    .promo__pin новое
    h1.promo__title Подводный отель
    p.promo__text
      |Как известно, Дубай – город контрастов. 
      |Самые революционные и фантастические мечты архитекторов 
      |способен воплотить в жизнь этот мегаполис, построенный на нефти и за счет нефти