mixin header
  header.header
    .container
      .header__logo Новости культуры
      nav.header__navigation
        ul.header__navigation-list
          li.header__navigation-item
            a.header__navigation-link(href="blank.link") новости
          li.header__navigation-item
            a.header__navigation-link(href="blank.link") обзоры
          li.header__navigation-item
            a.header__navigation-link(href="blank.link") музыка
          li.header__navigation-item
            a.header__navigation-link(href="blank.link") архитектура
          li.header__navigation-item
            a.header__navigation-link(href="blank.link") кино
          li.header__navigation-item
            a.header__navigation-link(href="blank.link") театр
          li.header__navigation-item
            a.header__navigation-link(href="blank.link") литература
          li.header__navigation-item
            a.header__navigation-link(href="blank.link") религия
          li.header__navigation-item
            a.header__navigation-link(href="blank.link") живопись