@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway&display=swap&subset=cyrillic');
@import './variables.scss';
@import './normalize.scss';

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  @media (max-width: 576px) {
    font-size: 12px;
  }
}

.container {
  width: 100%;
  max-width: 1174px;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: 1fr 370px;
  grid-template-areas: 'main posters';
  column-gap: 30px;

  &__main {
    padding-top: 100px;
    grid-area: main;
  }

  &__title {
    margin: 0;
    padding: 0;
    margin-bottom: 0.9375rem;
    font-family: $Raleway;
    font-weight: 700;
    font-size: 1.0625rem;
    line-height: 1.25rem;
    letter-spacing: 2px;
    color: #000000;
  }

  &__news {
    margin-bottom: 4.625rem;
    width: 100%;
    grid-area: main;
  }

  &__news-cards {
    display: flex;
    justify-content: space-between;
  }

  &__news-card {
    margin-bottom: 30px;
  }

  &__news-card-big {
    width: 29.375rem;
  }

  &__news-card-small {
    width: 16.9375rem;
  }
}

.review-cards {
  display: grid;
  grid-template-columns: 370px 370px;
  column-gap: 28px;
  row-gap: 37px;
}

.posters {
  grid-area: posters;
  margin-top: 6.25rem;

  &__item {
    margin-bottom: 2.0625rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}